nbproject
.idea/
node_modules
.vscode
vendor
.trash
.env
var
!var/www/.gitkeep
!tests/functional/.gitkeep
!tests/unit/.gitkeep
tests/_output/*
tests/_support/_generated/AcceptanceTesterActions.php
tests/_support/_generated/FunctionalTesterActions.php
tests/_support/_generated/UnitTesterActions.php
