nbproject
.idea/
node_modules
.vscode
vendor
!src/Backend/Pro/public/vendor
.trash
.env
var
/profile/
!var/www/.gitkeep
!tests/functional/.gitkeep
!tests/unit/.gitkeep
tests/_output/*
tests/_support/_generated/AcceptanceTesterActions.php
tests/_support/_generated/FunctionalTesterActions.php
tests/_support/_generated/UnitTesterActions.php
codeception.yml
dev/*
!dev/docs
phpstan.neon
src/.dev
dist
