<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         bootstrap="src/vendor/autoload.php"
         colors="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="true">

    <testsuites>
        <testsuite name="WP Staging Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- TODO RPoC; Use Docker && .env-->
        <includePath>.</includePath>
        <env name="APP" value="test"/>
        <env name="SLUG" value="wp-staging"/>
        <env name="WP_ROOT" value="./var/www/test/"/>
        <env name="DB_HOST" value="172.200.0.1"/>
        <env name="DB_NAME" value="test"/>
        <env name="DB_USER" value="admin"/>
        <env name="DB_PASSWORD" value="password"/>
        <env name="DB_PORT" value="3306"/>
    </php>
</phpunit>
