[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = BE
countryName_default = BE
stateOrProvinceName = München
stateOrProvinceName_default = München
localityName = München
localityName_default = München
organizationalUnitName = PlanNet
organizationalUnitName_default = PlanNet
commonName = PlanNet
commonName_max = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = default
