name: Deploy to WordPress.org
# Create a new tag/release in github and this github action workflow will be executed to deploy a new release of WP STAGING on wordpress.org
on:
  push:
    tags:
      - "*"
jobs:
  tag:
    name: New release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: WordPress Plugin Deploy
        uses: WP-Staging/action-wordpress-plugin-deploy@master
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: wp-staging